a{
	text-decoration: none;
	color: black;
}

body{
	margin: 0px;
	padding: 0px;
}

.main-grid-box{
	min-height: 100vh;
	display: grid;
	grid-template-rows: minmax(min-content max-content2) minmax(20px 30px) auto max-content;
	gap: 10px;
}

header{
	background: #F2EECB;
	grid-row: 1;
}

nav{
	background: #F2EECB;
	grid-row: 2;
}

main{
	background: #F2EECB;
	grid-row: 3	
}

footer{
	background: #F2EECB;
	grid-row: 4;
}

